apiVersion: v1
kind: ConfigMap
metadata:
  name: nats-config
data:
  nats.conf: |
    server_name: nats
    port: 4222
    http_port: 8222

    authorization {
      token: supersecrettoken
    }

    jetstream {
      store_dir: /data
      max_mem_store: 1Gb
      max_file_store: 10Gb
    }

    cluster {
      name: nats-cluster
      port: 6222

      routes = [
        nats://nats-0.nats-srv:6222
        nats://nats-1.nats-srv:6222
        nats://nats-2.nats-srv:6222
      ]

      tls {
        cert_file: "/etc/nats-tls/tls.crt"
        key_file: "/etc/nats-tls/tls.key"
        ca_file: "/etc/nats-tls/ca.crt"
      }
    }

    tls {
      cert_file: "/etc/nats-tls/tls.crt"
      key_file: "/etc/nats-tls/tls.key"
      ca_file: "/etc/nats-tls/ca.crt"
    }
